@import "tailwindcss";

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-260px*5));
  }
}
@keyframes Icon {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-215px*20));
  }
}


.slide-track {
  display: flex;
  gap: 20px;
  width: calc(200px * 10); 
  animation: scroll 10s  linear infinite;
}

.slide-icon-track{
  display: flex;
  gap: 15px;
  width: calc(200px * 40); 
  animation: Icon 30s  linear infinite;
}

.slide-track:hover {
  animation-play-state: paused; /* Pausa la animación al pasar el mouse */
}
.shadow-java:hover { filter: drop-shadow(0 0 2em #f89820); }
.shadow-python:hover { filter: drop-shadow(0 0 2em #3776AB); }
.shadow-javascript:hover { filter: drop-shadow(0 0 2em #F7DF1E); }
.shadow-typescript:hover { filter: drop-shadow(0 0 2em #3178C6); }
.shadow-kotlin:hover { filter: drop-shadow(0 0 2em #A97BFF); }
.shadow-react:hover { filter: drop-shadow(0 0 2em #61DAFB); }
.shadow-vue:hover { filter: drop-shadow(0 0 2em #42b883); }
.shadow-angular:hover { filter: drop-shadow(0 0 2em #DD0031); }
.shadow-blazor:hover { filter: drop-shadow(0 0 2em #512BD4); }
.shadow-tailwindcss:hover { filter: drop-shadow(0 0 2em #06B6D4); }
.shadow-bootstrap:hover { filter: drop-shadow(0 0 2em #7952B3); }
.shadow-dotnet:hover { filter: drop-shadow(0 0 2em #512BD4); }
.shadow-django:hover { filter: drop-shadow(0 0 2em #178e61); }
.shadow-node:hover { filter: drop-shadow(0 0 2em #68A063); }
.shadow-mongodb:hover { filter: drop-shadow(0 0 2em #47A248); }
.shadow-mariadb:hover { filter: drop-shadow(0 0 2em #1F305F); }
.shadow-postgresql:hover { filter: drop-shadow(0 0 2em #336791); }
.shadow-oracle:hover { filter: drop-shadow(0 0 2em #F80000); }
.shadow-html5:hover { filter: drop-shadow(0 0 2em #E34F26); }
.shadow-css3:hover { filter: drop-shadow(0 0 2em #1572B6); }

.custom-dots li button:before {
  color: red !important;
}

.custom-dots li.slick-active button:before {
  color: white !important;
}
